#wrapper{
    text-align: center;
}

header{
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-top: 10px;
}

a{
    color: black;
}

#main{
    margin-top: 15px;
}

.textInBox{
    font-size: 25px;
    font-weight: bold;
    margin-top: 15px;
}



.t{
    border: 1px solid;
}
