#wrapper{
    text-align: center;
}

header{
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-top: 10px;
}

a{
    color: black;
}

#main{
    margin-top: 40px;
}

.textInBox{
    font-size: 25px;
    font-weight: bold;
}

.medBlue{
    display: block;
    background: #b8daff;
    height: 45px;
}

.red{
    color: red;
}

.smaltext{
    font-size: 13px;
    text-align: justify-content:;
}

#map{
    height: 300px;
}