#wrapper{
    text-align: center;
}

header{
    border-bottom: 1px solid;
    padding-bottom: 10px;
    padding-top: 10px;
}

a{
    color: black;
}

#main{
    margin-top: 40px;
}

.textInBox{
    font-size: 25px;
    font-weight: bold;
<<<<<<< HEAD
=======
    margin-top: 15px;
>>>>>>> final
}

.medBlue{
    display: block;
    background: #b8daff;
    height: 45px;
}

.red{
    color: red;
<<<<<<< HEAD
}

.smaltext{
    font-size: 13px;
    text-align: justify-content:;
}

#map{
    height: 300px;
}
=======
}

.smaltext{
    font-size: 15px;
    text-align: justify;
}
/*
.align-items-end{
    margin-top: 40px;
}

.form-group{
    margin-bottom: 0px;
}
.form-control{
    margin-top: 10px;
}
*/
>>>>>>> final
